body {
    margin: 0; 
    background-color: #9797fd;
    font-family: Arial, sans-serif;
}

.side-nav{
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 200px;
    background-color: #150f73;
    border-right: 2px solid #ddd;
    padding: 10px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
}

.side-nav a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #656ed0;
    text-align: center;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.side-nav a:hover {
    background-color: #ebd8b9;
    color: #150f73;
}

.content{
    margin-left: 220px; padding: 20px;
} 

section {
    padding: 50px;
    margin: 20px 0;
    color: #ddd;
    background-color: #1b0fa2;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

section a:hover{
    
}

section h2 {
    margin-top: 0;
}

/* Smooth scrolling for navigation links */ 
html {
    scroll-behavior: smooth;
}